
@{
    ViewBag.Title = "_Footer";
}

@using System.Web.Optimization

<<div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Lungu Mihai FAF-161 2018</p>
</div>

