@{

                Layout = "~/Views/Shared/_Layout.cshtml";
                ViewBag.Title = "Home";
}

@using System.Web.Optimization

<div class="jumbotron">
    <h1>Best deal today !</h1>
    <p class="lead">Prove that you are a student at TUM, and you will get 15% discount for all products. If you are a FAF student, your costs will be reduced by 30%.</p>
    <p><a class="btn btn-lg btn-warning" href="#" role="button">Get started today</a></p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Best deals on Tablets</h2>
        <p class="text-danger">New iPad pro 256GB at 15% discount.</p>
        <p>Best offers for students at iPad's </p>
        <p><a class="btn btn-primary" href="tablet.html" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Refubrished iPad/iPhones</h2>
        <p class="text-danger">Get an brand new iPhone or iPad, refubrished and certificated by apple at 40% discount</p>
        <p>Best offers for every one who want an apple iPad or iPhone. </p>
        <p><a class="btn btn-primary" href="tablet.html" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Best deals on iPhone's</h2>
        <p class="text-danger">New iPhone X 256GB at 10% discount.</p>
        <p>Best offers for students at iPhone's</p>
        <p><a class="btn btn-primary" href="smartphone.html" role="button">View details &raquo;</a></p>
    </div>
</div>

